<!DOCTYPE html>
<html>
    <head>
        <title>Mohammed Fawaz's blog</title>
    </head>
    <body>
        <div> 
            <h1><a href="/">BISMILLAH</a></h1>
        </div>

        <div>
            <p>published: 17.06.2020, 02:30</p>
            <h2><a href="">My first post</a></h2>
            <p>please let me learn allah</p>
        </div>

        <div>
            <p>published: 17.06.2020, 02:30</p>
            <h2><a href="">My first post</a></h2>
            <p>please let me lear allah</p>
        </div>
       
    </body>
</html>